  <?if($mainNum==4){?>

<style>
#content_wrap{border-top:none}
</style>

    <ul class="lnb three">
          <li <?if($menuNum==41){?>class="selected"<?}?>><a href="/board.html?cate=notice">공지사항 <img src="/assets/on.jpg" alt=""></a><div class="bor"></li>
          <li <?if($menuNum==42){?>class="selected"<?}?>><a href="/faq.html?cate=faq">FAQ  <img src="/assets/on.jpg" alt=""></a><div class="bor"></li>
          <li class="last <?if($menuNum==43){?>selected<?}?>" ><a href="/board.html?cate=inquiry" >문의사항  <img src="/assets/on.jpg" alt=""></a><div class="bor"></li>
    </ul>
  <?}?>
  

<!--
  <div id="banner_zone">
    <div class="banner1">
      <h3 class="fs16 fc_gray4">문의전화</h3>
        <p class="fs17 fw_b fc_point pdT3 lh16">
            <?=$info_phone1?>
        </p>
      <p class="fs11 lh15 fc_gray8 pdT5">문의사항은 언제든지<br />문의하여 주세요</p>
    </div>
	
    <div class="banner1">
      <h3 class="fs16 fc_gray4">문의전화</h3>
        <p class="fs17 fw_b fc_point pdT3 lh16">
            <?=$info_phone1?>
        </p>
      <p class="fs11 lh15 fc_gray8 pdT5">문의사항은 언제든지<br />문의하여 주세요</p>
    </div>
  </div>
-->