<?if($cate){//메인은 미출력?>
				</div>
				<!--//page_wrap-->
			</div>
			<!--//content-->
	</div>
	<!--//content_wrap-->
</div>
<!--//container-->
<?}?>

<div class="wbox"><div class="white"></div></div>
<!--footer//-->
<div id="<?if(!$mainNum){?>main_<?}?>footer">
	<div id="footer_wrap">
	<div class="footmenu">
	<div class="res_wrap">
    	<div class="footer_con">
			<ul>
				<li class="first">
					<a href="/product2.html?cate=product2&tab=1"><h5>웹 호스팅</h5></a>
						<ul>
							<li><a href="/product2.html?cate=product2&tab=1">제품개요</a></li>
							<li><a href="/product2.html?cate=product2&tab=2">서비스 구성</a></li>
							<li><a href="/product2.html?cate=product2&tab=3">주요기능</a></li>
							<li><a href="/product2.html?cate=product2&tab=4">서비스요금</a></li>
						</ul>
				</li>
				<li>
					<a href="/product1.html?cate=product1&tab=1"><h5>웹모니터링</h5></a>
						<ul>
							<li><a href="/product1.html?cate=product1&tab=1">제품개요</a></li>
							<li><a href="/product1.html?cate=product1&tab=2">서비스 구성</a></li>
							<li><a href="/product1.html?cate=product1&tab=3">이용안내</a></li>
							<li><a href="/product1.html?cate=product1&tab=4">서비스요금</a></li>
						</ul>
				</li>
				<li>
					<a href="/product3.html?cate=product3&tab=1"><h5>서버모니터링</h5></a>
						<ul>
							<li><a href="/product3.html?cate=product3&tab=1">제품개요</a></li>
							<li><a href="/product3.html?cate=product3&tab=2">서비스 구성</a></li>
							<li><a href="/product3.html?cate=product3&tab=3">주요기능</a></li>
							<li><a href="/product3.html?cate=product3&tab=4">서비스요금</a></li>
						</ul>
				</li>
				<li>
					<a href="/product4.html?cate=product4&tab=1"><h5>소스위변조</h5></a>
						<ul>
							<li><a href="/product4.html?cate=product4&tab=1">제품개요</a></li>
							<li><a href="/product4.html?cate=product4&tab=2">서비스 구성</a></li>
							<li><a href="/product4.html?cate=product4&tab=3">주요기능</a></li>
							<li><a href="/product4.html?cate=product4&tab=4">서비스요금</a></li>
						</ul>
				</li>
				<li>
					<a href="/product5.html?cate=product5&tab=1"><h5>웹방화벽</h5></a>
						<ul>
							<li><a href="/product5.html?cate=product5&tab=1">제품개요</a></li>
							<li><a href="/product5.html?cate=product5&tab=2">서비스 구성</a></li>
							<li><a href="/product5.html?cate=product5&tab=3">주요기능</a></li>
							<li><a href="/product5.html?cate=product5&tab=4">서비스요금</a></li>
						</ul>
				</li>
				<li>
					<a href="/product6.html?cate=product6&tab=1"><h5>IOT 보안</h5></a>
						<ul>
							<li><a href="/product6.html?cate=product6&tab=1">제품개요</a></li>
							<li><a href="/product6.html?cate=product6&tab=2">서비스 구성</a></li>
							<li><a href="/product6.html?cate=product6&tab=3">주요기능</a></li>
							<!-- <li><a href="/webMonitoring.gsp?cate=product1&tab=4">서비스요금</a></li> -->
						</ul>
				</li>
				<li class="contact">
						<ul class="sns">
							<li><a href=""><img src="/assets/link1.png" alt=""></a></li>
							<li><a href=""><img src="/assets/link2.png" alt=""></a></li>
							<li><a href=""><img src="/assets/link3.png" alt=""></a></li>
						</ul>
						<div class="tel">고객문의<span><?=$info_phone1?></span></div>
						<div class="email"><?=$info_email?></div>
				</li>
			</ul>
		</div>
		<div class="clb"></div>
	</div>
	<div class="pdT40"></div>
	</div>
	<div class="res_wrap">
  	<div class="footer_logo"><img src="/assets/logo_footer.png" /></div>
      <p class="clb pdT9 fs12 lh17">
        <strong>상호명</strong> (주)에이에스티소프트
		  <strong>사업자등록번호</strong> 142-81-59202
		  <strong>대표자</strong> 박상현 
		  <span class="blind768"><br /></span>
        <strong>Address</strong> 경기도 용인시 수지구 죽전로 152, 단국대학교 창업플라자센터 ASTSOFT  (서관 405호)
		  <strong>Tel</strong> 031.8005.4173
		  <!-- <strong>Mobile</strong>  -->
		  <strong>Email</strong> astsoft@astsoft.co.kr
      </p>
      <p class="coryright fs11 pdT2">
		  
			Copyright 2014 <?=$info_sitename?>. All rights reserved. <a href="/site-admin/" target="_blank">ADMIN</a>. 
			made by <a href="http://www.hongbonet.com" target="_blank">HONGBONET</a>
		</p>
    </div>
    </div>
    

	 
	 
  </div>
</div>
<!--//footer-->
  
</div>
<!--//div:wrap-->



</body>
</html>	



