<div class="quick_wrap res_wrap">
	<div id="quick_menu">
		<ul>
		<li class="first">QUICK</li>
			<li><a href="/down.html?cate=down&tab=1"><img src="/assets/lnb_icon1.jpg" alt=""><div class="text">다운로드</div></a></li>
			<li><a href="/down.html?cate=down&tab=2#down2"><img src="/assets/lnb_icon2.jpg" alt=""><div class="text">메뉴얼</div></a></li>
			<li class="last"><a href="/sale.html?cate=sale"><img src="/assets/lnb_icon3.jpg" alt=""><div class="text">서비스요금</div></a></li>
		</ul>
		<div class="top"><a href="#header"><img src="/assets/top.jpg" alt=""></a></div>
	</div>
</div>